# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
*.fbx filter=lfs diff=lfs merge=lfs -text
assets/models/Skyboxes/citrus_orchard_road_puresky_8k.exr filter=lfs diff=lfs merge=lfs -text
